html {
	--base-color: #090909;
	--base-background-color: #e7e7e7;
	--panel-background-color: #d3d3d3;
	--link-color: #8d85ff;
	--link-visited-color: #97448c;
	--link-active-color: #ff68ed;
	--button-color: black;
	--button-background-color: rgb(212, 212, 212);

    --button-hover-background-color: color-mix(in srgb, var(--button-background-color) 90%, black);
	--button-selected-background-color: color-mix(in srgb, var(--button-background-color) 80%, black);
}html {
	--panel-border-radius: 10px;
	--panel-padding: 15px;

	--font-family-handwritten: 'Rock Salt', monospace;

	--font-family-fancy: 'Dosis', 'Roboto', 'system-ui';
	--font-family-standard: 'Inter', 'Segoe ui', 'system-ui', 'Ubuntu', 'Roboto';
	--font-family-alt: monospace;

    min-height: 100vh;
    background-color: var(--base-background-color);
    color: var(--base-color);
    margin: 0px;
    font-size: 0.9em;
    font-family: var(--font-family-standard);
}li:not(:last-child) {
    margin-bottom: 5px;
}body {
    padding: 0px;
    margin: 0px;
}a:link {
    color: var(--link-color);
    background-color: transparent;
    text-decoration: none;
    text-decoration: underline;
}a:visited {
    color: var(--link-visited-color);
    background-color: transparent;
    text-decoration: none;
}a:active {
    color: var(--link-active-color);
    background-color: transparent;
    text-decoration: underline;
}a:hover {
    text-decoration: underline;
}h1 {
    font-family: var(--font-family-handwritten);
    font-weight: 400;
}h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-handwritten);
    font-weight: 400;
}code {
    font-family: var(--font-family-fancy);
}.background.svelte-55eghf.svelte-55eghf{z-index:-2}.midground.svelte-55eghf.svelte-55eghf{z-index:-1}h1.svelte-55eghf.svelte-55eghf{font-family:var(--font-family-standard);text-align:center;line-height:2em}h2.svelte-55eghf.svelte-55eghf{font-family:var(--font-family-standard);font-size:medium}.noteLabel.svelte-55eghf.svelte-55eghf{min-width:22px;display:inline-block;text-align:center}button.svelte-55eghf.svelte-55eghf{margin-bottom:5px;margin-right:5px;transition-duration:0.4s;border:none;padding:8px 8px;font-size:1.15em;font-family:var(--font-family-standard);font-weight:300;cursor:pointer;color:var(--button-color);min-height:30px;overflow:hidden;transition:max-height 0.5s ease-out;display:inline-block;transition:background-color 0.5s;border-radius:3px;background-color:var(--button-background-color)}button.svelte-55eghf.svelte-55eghf:hover:not(.selectedTab){background-color:var(--button-hover-background-color)}button.selectedTab.svelte-55eghf.svelte-55eghf{background-color:var(--button-selected-background-color)}.appContainer.svelte-55eghf.svelte-55eghf{display:flex;margin-left:auto;margin-right:auto;max-width:1000px;flex-wrap:wrap;padding-inline:20px;justify-content:space-evenly}.appContainer.svelte-55eghf svg.svelte-55eghf{width:400px;height:400px}.boxOfButtons.svelte-55eghf.svelte-55eghf{max-width:500px}.svgNoteName.svelte-55eghf.svelte-55eghf{font:30px sans-serif}.svgSelectedNoteName.svelte-55eghf.svelte-55eghf{font-weight:bold;-moz-border-radius:30px;border-radius:30px;background-color:black;color:white;text-align:center;font-size:2em}.scaleNote.svelte-55eghf.svelte-55eghf{font-weight:bold}.hidden.svelte-55eghf.svelte-55eghf{opacity:0}.transitionAll.svelte-55eghf.svelte-55eghf{-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease-in-out}.transitionAllQuick.svelte-55eghf.svelte-55eghf{-webkit-transition:all 60ms ease-out;-moz-transition:all 60ms ease-out;-ms-transition:all 60ms ease-out;-o-transition:all 60ms ease-out;transition:all 60ms ease-out}.transitionAll.hidden.svelte-55eghf.svelte-55eghf{opacity:0}.musicControls.svelte-55eghf.svelte-55eghf{margin-top:20px}.musicControls.svelte-55eghf>div.svelte-55eghf{display:flex;flex-wrap:wrap;justify-content:space-evenly}.clickable.svelte-55eghf.svelte-55eghf{cursor:pointer}